# Python
__pycache__/
*.py[cod]

# Virtual Environment
backend/.venv/
.venv/

# Environment Variables
backend/.env
.env

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db